<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .trai{
            text-align: left;
        }
    </style>
</head>
<body style="text-align: center;" >
    
        <h1>CẬP NHẬT THÔNG TIN</h1>
        <form action="{%url 'xuly_capnhat' %}">
            <table align="center">
                <tr>
                    <td class="trai">Tên đăng nhập</td>
                    <input type="hidden" name="id_nd" id="id_nd" value="{{nguoi_dung.id}}">
                    <td><input type="text" id="ten" name="ten" value="{{nguoi_dung.ten_dang_nhap}}"> </td>
                </tr>
                <tr>
                    <td class="trai">Email</td>
                    <td><input type="text" id="mail" name="mail" value="{{nguoi_dung.email}}"> </td>
                </tr>
                <tr>
                    <td class="trai">Mật khẩu</td>
                    <td><input type="text" id="matkhau" name="matkhau" value="{{nguoi_dung.mat_khau}}"> </td>
                </tr>
                <tr>
                    <td colspan="2"> <input type="submit" name="cn" id="cn" value="Cập nhật"></td>
                </tr>
    
            </table>
        </form>
        
</body>
</html>