<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>{{data_view.ten_dang_nhap}}</h1>
        {% if ds_nguoidung %}
        <table>
            <thead>
                <tr>
                    <td>Tên đăng nhập</td>
                    <td>Email</td>
                    <td>Mật khẩu</td>
                </tr>
            </thead>
            <tbody>
                {% for dt in ds_nguoidung %}
                <tr>
                    <td><a href="{%url 'chi_tiet' dt.id %}"> {{dt.ten_dang_nhap}}</a></td>
                    <td>{{dt.email}}</td>
                    <td>{{dt.mat_khau}}</td>
                    <td><a href="{%url 'xoa_data' dt.id %}">Xoa</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Chưa có dữ liệu để hiển thị</p>
        {% endif %}
    </body>

</html>